.DS_Store
tmp
public/uploads
log
public/references/
public/assets/
public/__assets/
public/index.html
public/404.html
public/422.html
public/403.html
public/500.html
.sass-cache/
spec/support/uploads/
public/robots.txt
db/test.sqlite3-journal
*.sublime-project
*.sublime-workspace
solr/data
node_modules/
.codekit-cache/
nbproject/