@media print {

    body.print-simulator {

        .hide-print {
            display: none !important;
        }

        .clone-table {
            display: block !important;

            .table.toggle-table {
                display: block !important;
            }
        }

    }

}